# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Mac stuff
.DS_Store

# Automake stuff
Makefile.in
aclocal.m4
autom4te.cache
configure
.deps
config.log
config.status
missing
install-sh
depcomp
Makefile

# Actual binary
rawr-ebooks
rawr-ebooks.exe
rawr-gen
rawr-gen.exe

# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
