[submodule "vendor/yaml-cpp"]
	path = vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "vendor/libtwittercpp"]
	path = vendor/libtwittercpp
	url = https://github.com/hatkirby/libtwittercpp
